# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\cdv-student\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/cdv-student.iml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
